<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Bus Arrivals</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
        
        <script 
            type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
  
    <body>
        <div class="container">
            <h1>bus schedule</h1>
            
            {% for route in routes %}
              <p>{{route.name}}</p>
              <form method="POST" action="./autocomplete">
                <input type="text" value="{{route.name}}" name="route">
                <select method="GET" action="/">
                    {% for c in choices %}
                      <option value="{{c}}">{{c}}</option>
                    {% endfor %}
                </select>
              </form>
            {% endfor %}
            
            <form>      
                 <select method="GET" action="/">
                    {% for d in direction_choices %}
                      <option value="{{d}}">{{d}}</option>
                    {% endfor %}
                </select>        
                
                 <select method="GET" action="/">
                    {% for s in stop_choices %}
                      <option value="{{s}}">{{s}}</option>
                    {% endfor %}
                </select>
            </form>
            
            <div id="predictions">
                <ul>
                Bus Arrivals
                {% for p in predictions %}
                    <li>{{ p }}</li>
                {% endfor %}
                </ul>
            </div>    
            
            <br>
            {% for error in errors %}
                <h4>{{ error }}</h4>
            {% endfor %}
        </div>
    </body>
  
</html>